<tr class="col-sm-12 table m-0 p-o">
  <td>{{contact.firstName}}</td>
  <td>{{contact.secondName}}</td>
  <td>{{contact.phoneNumber}}</td>
  <td align="center">
    <button class="btn btn-outline-secondary mr-2" (click)="edit()">edit</button>
    <button class="btn btn-outline-danger" (click)="delete()">delete</button>
  </td>
</tr>
