<div class="container-fluid col-lg-8 col-sm-12  col-md-8 bg-light rounded-lg border border-secondary mt-4 shadow p-3">
  <h3 class="row justify-content-center mt-3 mb-3">Phone Book</h3>
  <div class="row justify-content-center">
<button class="btn btn-primary mb-3" (click)="edit(null)">Add Contact</button>
  </div>
<table class="table table-bordered">
  <thead class="thead-light">
  <tr>
    <th>fname</th>
    <th>lname</th>
    <th>phone</th>
    <th>control</th>
  </tr>
  </thead>
  <tbody>
  <app-contact-row
    class="contact-row"
    *ngFor="let contact of contacts"
    [contact]="contact"
    (onDelete)="delete($event)"
    (onEdit)="edit($event)">
  </app-contact-row>
  </tbody>
</table>
</div>
