<form [formGroup]="form" (ngSubmit)="save()">
  <div class="modal-header">
    <h5 class="modal-title">Your contact data (all fields are required)</h5>
  </div>
  <div class="modal-body">
    <label>First name (max 20 symbol)</label>
    <input class="form-control" maxlength="20" placeholder="enter your name" type="text" formControlName="firstName">
    <br>
    <label>Last name (max 30 symbol)</label>
    <input class="form-control" maxlength="30" placeholder="enter you second name" type="text"
           formControlName="secondName">
    <br>
    <label>Format example add number</label>
    <input type="text" minlength="12" placeholder="+380 XX XXX XX" mask="+000 00 000 00 00"
           formControlName="phoneNumber" class="form-control overflow-hidden">
  </div>
  <div class="modal-footer">
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancel</button>
  </div>
</form>
